<div class="card">
    <div class="card-body">
        <form class="row gy-2 gx-3 align-items-center" enctype="multipart/form-data" method="post" action="/process">
            <div class="col-auto">
                <label class="visually-hidden" >File</label>
                <input type="file" class="form-control" name="file">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary uploadBtn">Upload</button>
            </div>
        </form>
    </div>
</div>